:root {
    --Azul: #0080ff;
    --white: #ffffff;
    --bg-body: #454545;
    --black-mod: #222222;
    --transition: all 0.5s ease;
}

#radio1:checked ~ .defaultSlide {
    margin-left: 0%;
}

#radio2:checked ~ .defaultSlide {
    margin-left: -25%;
}

#radio3:checked ~ .defaultSlide {
    margin-left: -50%;
}

.navManual {
    margin-left: calc(50% - 95px);
}

.navManual .manualBtn, .navAuto div {
    transition: var(--transition);
    border: 1px solid var(--blue);
}

.navManual .manualBtn:not(:last-child), .navAuto div:not(:last-child) {
    margin-right: 10px;
}

#radio1:checked ~ .navAuto .autoBtn1, #radio2:checked ~ .navAuto .autoBtn2,
#radio3:checked ~ .navAuto .autoBtn3 {
    background: var(--blue);
}

.containerCard:not(:last-child) {
    margin-right: 10px;
}
